.terminal {
  width: 100vw;
  height: 100vh;
  border-radius: 0px !important;
  background: url("../../assets/term-bg.png") !important;
}

.terminal div {
  height: auto !important;
}

.contentStyle {
  color: #c35e00 !important;
  font-weight: normal;
  padding-left: 10px;
}

.promptLabelStyle {
  color: #ffaa5b;
  font-weight: normal;
}
.inputTextStyle {
  color: #ffaa5b;
  font-weight: normal;
}

.messageStyle {
  color: #bcbcbe;
  font-weight: normal;
  paddingleft: null;
}
